<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Custom user properties</comment>
<entry key="ip">192.168.219.230</entry>
<entry key="port">22</entry>
<entry key="login">cust</entry>
<entry key="password">custpw</entry>

<!-- Опция для копирования файлов по маске имени. False - точное совпадение указанного имени файла.  --> 
<entry key="findingfilesbymaskofname">false</entry>

<!-- Заданное число файлов для копирования и их полные пути -->
<entry key="srcfilecount">1</entry>
<entry key="srcfullfilename1">/var/log/avaya/aes/TSAPI/g3trace-cm5s8400-1.trace.out</entry>
<entry key="srcfullfilename2">/MTA_trace.mta2</entry>
<entry key="srcfullfilename3">/MTA_trace.mta3</entry>
<entry key="srcfullfilename5"></entry>
<entry key="srcfullfilename6"></entry>
<entry key="srcfullfilename7"></entry>
<entry key="srcfullfilename8"></entry>
<entry key="srcfullfilename9"></entry>
<entry key="srcfullfilename10"></entry>

<!-- Путь (папка) назначения копирования файла(ов). Формат для Windows: "<Disk>:\\<folder_name>\\"  -->
<entry key="dstfilepath">C:\\aestsapi\\</entry>

<entry key="begintime">10:00:00</entry>
<entry key="endtime">18:00:00</entry>
<entry key="workinterval">600</entry>

<!-- Имя файла архива, включая путь расположения. Формат для Windows: "<Disk>:\\<folder_name>\\<archive_name>.zip"  --> 
<entry key="zipfilefullname">C:\\aestsapi\\test.zip</entry>

<!-- Включение/отключение архивирования файлов  -->
<entry key="enablearchiving">true</entry>

<!-- Размер минимально доступного свободно места на диске. Значение 0 = не проверять.-->
<entry key="minfreediskspaceMB">37000</entry>

</properties>