<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Custom user properties</comment>
<entry key="ip">127.0.0.1</entry>
<entry key="port">22</entry>
<entry key="login">wawa</entry>
<entry key="password">password</entry>
<!-- Опция для копирования файлов по маске имени. False - точное совпадение указанного имени файла.  --> 
<entry key="findingfilesbymaskofname">true</entry>

<!-- Заданное число файлов для копирования и их полные пути-->
<entry key="srcfilecount">1</entry>
<entry key="srcfullfilename1">/MTA_trace*</entry>
<entry key="srcfullfilename2">/MTA_trace.mta2</entry>
<entry key="srcfullfilename3">/MTA_trace.mta3</entry>
<entry key="srcfullfilename5"></entry>
<entry key="srcfullfilename6"></entry>
<entry key="srcfullfilename7"></entry>
<entry key="srcfullfilename8"></entry>
<entry key="srcfullfilename9"></entry>
<entry key="srcfullfilename10"></entry>

<!-- Путь назначения копирования файла(ов) -->
<entry key="dstfilepath">G:\\copy\\</entry>

<entry key="begintime">12:00:00</entry>
<entry key="endtime">01:40:00</entry>
<entry key="workinterval">120</entry>

<!-- Имя файла архива, включая путь расположения, с расширением ".zip" --> 
<entry key="zipfilefullname">G:\\copy\\test.zip</entry>

<!-- Включение/отключение архивирования файлов  -->
<entry key="enablearchiving">true</entry>

</properties>